body {
	font-size: 18px;
	background:#ddd;
	font-family: 'brandon_grotesquelight', sans-serif;
}

/* layout */
.top .bar, .second-nav {
	background:#223c98;
	color:#fff;
	padding:0 20px;
	border-top:6px solid #e41f27;
	height:45px;
}

.bar-links::before {
    content: "";
    display: block;
}

.bar-links::after {
    clear: both;
    content: "";
    display: table;
}

.bar-links {
	float:right;
	margin:0;
	padding:0px;
	list-style: none;
}

.bar-links > li {
	float:left;
}

.bar-links a, .second-nav ul.nav > li a {
	line-height: 39px;
	display:block;
	padding:0 10px;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.bar-links a:hover, .second-nav ul.nav > li a:hover {
	background:#e41f27;
	text-decoration:none;
	color:#fff;
}

.top {
	border-bottom:2px solid #ccc;
}

.top > nav {
	background:#fff;
	height:90px;
	padding:0 20px;
}

.top .logo {
	line-height:90px;
}

.top ul.nav::before {
    content: "";
    display: block;
}

.top ul.nav::after {
    clear: both;
    content: "";
    display: table;
}

.top ul.nav {
	line-height:90px;
	padding:0;
}

.top ul.nav > li {
	float:left;
}

.top ul.nav > li a {
	padding:0 14px;
	color:#223c98;
	font-size:13px;
	text-transform: uppercase;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.top ul.nav > li a:hover {
	color:#fff;
	background:#e41f27;	
}

.top .search {
	height:90px;
	display:table-cell;
	vertical-align: middle;
	line-height:89px;
}

.top .search > .input-group .form-control {
	float:none;
	box-shadow: none;
	padding:12px 10px;
}

.top .search > .input-group .form-control:focus {
	box-shadow: none;
	border:1px solid #ccc;
}

.top .search i.fa {
	color:#fff
}

.welcome {
	background:#fff;
}

.carousel img {
	width:100%;
	height:400px;
}

.carousel .item {
	min-height: 400px;
}

.second-nav {
	border:none;
	width:100%;
	overflow: hidden;
}

.second-nav ul.nav {
	padding:0;
	list-style: none;
	display:block;
	position: relative;
	float:left;
	left:50%
}

.second-nav ul.nav > li {
	display:block;
	right:50%;
	float:left;
	position:relative;
}

.second-nav ul.nav > li a {
	padding:0 15px;
	line-height:45px;
	text-transform: uppercase;
	font-size:13px;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.dashboard {
	list-style-type: none;
	display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dashboard li {
	float:left;
	padding:20px 30px;
	width:25%;
	text-align: center;
}

.dashboard li > i {
	font-size:50px;
	padding-bottom:20px;
}

.dashboard li > p {
	font-size:16px;
}

.dashboard li > h4 {
	font-size:20px;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

/* panels */
.panel {
	border-radius: 0;
	border:2px solid #ccc;
}

.panel-body, .panel-heading, .panel-footer {
	padding:20px 30px;	
}

.panel-heading {
	font-size:16px;
	border-bottom: 2px solid #ccc;
	text-transform: uppercase;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.panel-profile > .panel-heading {
	text-align: center;
	padding-top:40px;
}

.panel-profile > .panel-heading h4 {
	text-transform: none;
}

/* forms and buttons */
.btn {
	text-transform: uppercase;
	padding:12px 20px;
}

.btn-default {
	background:#e41f27;
	color:#fff;
	border:none;
}

.form-control, .modal-content {
	border-radius: 0;
}

.form-control {
	height:auto;
	padding:12px
}

.form-group {
	padding:12px 0;
}

.btn > i {
	font-size:20px;
}

/* ui */
a {
	color:#223c98;
}

p {
	margin: 0 0 25px;	
}

b, strong, .breadcrumb > a {
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

a:hover {
	color:#e41f27;
}

.page {
	margin-top:30px;
}

.subtext, .breadcrumb {
	font-size:12px;
	text-transform: uppercase;
}

.list-group-item {
	padding:15px 30px;
}

.table-flat > thead > tr > th {
	background:#223c98;
	text-transform: uppercase;
	font-size:13px;
	color:#fff;
	font-weight:300;
	border-bottom:2px solid #e41f27;
	padding:16px;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.table-flat > tbody > tr > td {
	padding:0;
}

.table-flat > tbody > tr > td > a {
	color: inherit;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
    display:block;
}

.table-flat > tbody > tr > td {
	border-bottom:1px solid #ddd;
}

/* nav */
.navbar {
	border-radius: 0;	
}

.navbar .navbar-nav {
    display: inline-block;
    float:none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* alerts */
.alert {
	position:relative;
}

.alert-danger {
	background-color: #d84a49;
	border:none;
	color:#fff;
}

/*.alert-danger:before {
	content: "\f057";
	font-family: FontAwesome;
	position:absolute;
}*/

/* pages */
h1.page-heading {
	text-align: center;
	margin:0 0 40px 0;
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

.breadcrumb {
	background:none;
	border-bottom:1px dashed #ccc;
    list-style: outside none none;
    margin-bottom: 50px;
    margin-top:0;
    padding: 0 0 10px 0;
}

.about {
	background:#fff;
	border-top: 2px solid #ccc;
	padding:50px;
}
 /* footer */
 .footer {
	 border-top:2px solid #ccc;
	 color:#c5bcb9;
	 background:#4c4859;
	 padding:40px 0;
	 height:200px;
 }
